h1{
    text-align: center;
    font-weight: bold;
}

h1{
    color : rgb(0, 174, 255)
}

.flex-container{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
}
.flex-item{
    width: 100px;
    height: 300px;
    display: flex;
    border: 2px solid ;
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height:normal;

}

#flex-item-1{
    width: 40%;
    height: 80%;
    margin: 20px;
    padding: 10px;
    margin-left: 6%;
    margin-right: 0%;
    background-color:orangered;
    border-radius: 5%;
   
}

#flex-item-2{
    padding-top: 5%;
    padding-left: 2%;
}


/* #flex-item-2{
    width: 50%;
    height: 10%;
    border: 2;
    border-color: black;
    background-color: white;
    margin-top: 2%;
    text-align: right;
     margin-bottom: 2%;  
    padding-bottom: 10%;
    color: orangered;
    line-height: 0.1%;
    font-size:500%;
}

#ABC{
    padding-right: 5% ;
    font-size: 300%;
    position: absolute;
    padding-left: 5%;
}

.CDPT{
    line-height: 2; 
    padding-left: 35%;
    margin: 9% 0%;
    padding-right: 20%;
    font-size: 45%;
    
} */



